body{
    background: linear-gradient(135deg, #52E5E7 0%, #130CB7 100%);
}
.main-task{
    box-sizing: border-box;
    width: 70%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    background: linear-gradient(135deg, #ABDCFF 0%, #0396FF 100%);
    box-shadow: 6px 5px 43px rgba(2, 9, 34, 0.22);
    border-radius: 23px;
    .main-task_p2{
        position: absolute;
        left: 116px;
        top: 110px;

    }
}